*{
    margin: 0;
    padding: 0;
}
@media (min-width:601px)
{
    .main{
        width: 500px;
        grid-template-columns: 1fr 1fr;
        .image-1{
            width: 250px;
            border-radius: 10px 0px 0px 10px;
            background-image: url(images/image-product-desktop.jpg);
            
        }
    }
}
.container{
    display: grid;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    .main{
        border-radius: 10px;
        line-height: 1;
        margin: auto;
        display: grid;
        background-color: white;
        .image-1{
            background-size: cover;
        }
        .textClass{
            display: flex;
            flex-direction: column;
            padding: 20px;
            .perfume{
                font-size: medium;
                font-family: Montserrat ;
                font-weight: 400;
                padding-bottom: 20px;
                color: gray;
            }
            .styledText{
                padding-bottom: 20px;
                font-family: Fraunces;
                font-weight: 700;
                font-size: 25px;
                padding-right: 19px;
            }
            p{
                font-family: Montserrat;
                font-size: 12px;font-weight: 300;
                line-height: 1.5;
                color: gray;
            }
            .price{
                display: flex;
                .discount{
                    font-family: Fraunces;
                    color: rgb(29, 153, 29);
                    font-size: large;
                    padding: 10px;
                }
                .pric{
                    font-size:small;
                    padding: 10px;
                    padding-top: 14px;
                    text-decoration: line-through;
                }
            }
            button{
                border: none;
                height: 40px;
                border-radius: 10px;
                background-color: green;
                color: white;
                &:hover{
                    background-color:rgb(5, 149, 5);
                }
                img{
                    padding-right: 10px;
                }
            }
        }
    }
}
@media (max-width:600px)
{
    .main{
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 250px;
        height: 520px;
        line-height: 1;
        .image-1{
            border-radius:  10px 10px 0px 0px;
            background:url(images/image-product-mobile.jpg);
            height: 200px;
        }
    }
}